<footer class="footer">
    <section class="footer-container">
    <div class="footer-copy">
      <p> Las Vengalabers &copy;2020</p>
    </div>
      <ul class="footer-list">
        <li><a class="link" href="./index.html#adalabers">Equipo</a> </li>
        <li><a class="link" href="./index.html#woareus">Quiénes somos</a> </li>
        <li><a class="link" href="./more-info.html">Contacto</a></li> 
      </ul>
    <img src="https://github.com/Adalab/project-promo-x-module-1-team-profes/blob/main/logo-adalab.png?raw=true" alt="logo-adalab" class="footer-img"></img>
    </section>
</footer>