$font-p: "Open Sans", sans-serif;
$color-bg: #099d8d;
$font-t: "Rubik", sans-serif;
$color-ag: #14d9c4;
$color-w: #ffffff;
$color-b: #000000;
$color-dg: #54585a;
$color-sg: #b8b8b9;
$color-back: #f1f1f1;
