body {
  max-width: 100vw;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.hero-container {
  height: 300px;
  width: 100vw;
  background: url(../images/contacto.jpg) no-repeat;
  background-size: cover;
  position: relative;
  top: 80px;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
  padding-bottom: 10px;
  margin-top: 80px;

  .container-contact__title {
    text-transform: uppercase;
    color: $color-bg;
  }
}

.form-container {
  font-family: $font-p;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: right;

  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;

  .mandatory {
    display: block;
    margin-bottom: 50px;
    align-self: center;
    font-size: 13px;
  }

  .label {
    padding-top: 5px;
    padding-bottom: 10px;
    .email-box {
      font-weight: bold;
    }
    :active,
    :hover {
      outline-color: $color-ag;
      border: solid $color-ag;
    }
  }
  .submit {
    margin-top: 25px;
    background-color: $color-bg;
    color: $color-w;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    &:hover {
      background-color: $color-ag;
      cursor: pointer;
    }
  }
  .input-box {
    width: 100%;
    height: 45px;
    display: block;
    border: solid 1px #b8b8b9;
  }
  .label-message .message-box {
    height: 105px;
    display: inline-block;
    justify-: start;
  }

  .mandatory_star {
    color: $color-ag;
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .hero-container {
    background: url(../images/contacto_tablet.jpg);
    background-size: cover;
    background-image: no-repeat;
    top: 55px;
  }
  .container__item .team__text {
    height: 80px;
    width: 440px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-content: center;

    .input-box.submit {
      width: 150px;
      align-self: flex-end;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    height: 220px;
  }

  .hero-container {
    background-color: black;
    background-position: right;
    top: 60px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .label {
    width: 600px;
  }
  .label-mail {
    width: 395px;
  }
  .label-phone {
    width: 162px;
  }
  .section-form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
