/* estilos */

:root {
  --font-p: "Open Sans", sans-serif;
  --font-t: "Rubik", sans-serif;
  --color-bg: #099d8d;
  --color-ag: #14d9c4;
  --color-w: #ffffff;
  --color-b: #000000;
  --color-dg: #54585a;
  --color-sg: #b8b8b9;
  --color-back: #f1f1f1;
}

body {
  max-width: 320px;
}
html {
  scroll-behavior: smooth;
}
/* Esto es el header*/
.header {
  position: fixed;
  width: 320px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header-name {
  height: 60px;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-w);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-t);
}
.header .menu {
  height: 45px;
  background-color: var(--color-ag);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

.menu .header-link {
  text-decoration: none;
  color: var(--color-w);
  font-family: var(--font-t);
}

/* Hasta aquí el header*/

/* Imagen, lema y equipo - Miriam*/

.container-imgslog {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.image-box {
  box-sizing: border-box;
  display: flex;
  height: 320px;
  width: 320px;
  border: solid 1.5px black;
  margin-bottom: 60px;
}

.slogan {
  width: 250px;
  height: 40px;
  background-color: #ffffff;
  border: solid 1px #000000;
  font-family: var(--font-p);
  position: absolute;
  margin: 14px;
  transform: translateY(140px);
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
}

.teamtitle {
  box-sizing: border-box;
  margin-block: 20px;
  transform: translatey(-10px);
  font-family: var(--font-t);
  text-transform: uppercase;
  color: var(--color-ag);
}

.team {
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  font-family: var(--font-p);
  padding: 15px;
  margin-bottom: 20px;
  padding-block: 20px;
}

/* fortalezas y debilidades - María */

.strenghts-container {
  font-family: var(--font-p);
  color: var(--color-b);
  background-color: #f1f1f1;
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 35px 12% 45px 12%;
  position: relative;
}

.strenghts-container .triangle {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  position: absolute;
  left: 45%;
  top: 0;
}

.strenghts-container .strenghts-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.strenghts-container .strenghts-font-style {
  font-family: var(--font-t);
  color: var(--color-bg);
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}

.strenghts-container .weaknesses-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* quienes somos: Lucía*/
a {
  color: #14d9c4;
}
.aboutus {
  text-align: center;
  padding-top: 30px;
}

.title {
  font-family: var(--font-t);
  color: var(--color-bg);
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}

.name {
  font-family: var(--font-t);
  font-size: 20px;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.icons {
  padding-top: 15px;
}

.bio {
  padding: 30px, 15px, 45px;
  font-family: var(--font-p);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  margin: 25px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-family: var(--font-p);
  padding: 5%;
  position: relative;
}

/* Esto es el footer*/
.footer {
  border-top: solid 1px;
  border-color: var(--color-dg);
  margin-top: 45px;
}
.footer-container {
  margin-top: 30px;
  text-align: center;
}
.footer-container .footer-copy {
  margin: 20px auto;
  color: var(--color-sg);
  font-family: var(--font-p);
}

.footer-container .footer-list {
  text-transform: uppercase;
  margin-top: 20px auto;
  list-style: none;
}
.footer-list .link {
  text-decoration: none;
  color: var(--color-dg);
  font-family: var(--font-p);
  line-height: 1.43;
  font-weight: bold;
}
.footer-container .footer-img {
  min-width: 115.9px;
  min-height: 45px;
  margin-top: 30px;
}
/* Hasta aquí el footer movil*/

/* Diseño responsive*/

@media (min-width: 768px) {
  /* ------Header-------- */
  .header {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: var(--color-bg);
    height: 60px;
  }
  .header .header-name {
    padding-left: 45px;
    text-align: left;
    display: flex;
    justify-content: left;
  }
  .header .menu {
    background-color: var(--color-bg);
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding: right 26px;
  }
  .menu .header-link {
    padding-right: 19px;
  }

  /* -----Fortalezas y Debilidades------- */
  .strenghts-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
  }
  .strenghts-wrapper {
    width: 45%;
    margin: 1.2rem;
  }
  .weaknesses-wrapper {
    width: 45%;
    margin: 1.2rem;
  }

  /* -----Footer-------- */
  .footer {
    width: 100vw;
    margin-top: 0px;
  }
  .footer-container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .footer-container .footer-copy {
    margin: 0px;
    display: flex;
    justify-content: flex-start;
  }

  .footer-container .footer-list {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 25px;
  }
  .footer-list .link {
    display: flex;
  }
  .footer-container .footer-img {
    display: flex;
    justify-content: flex-start;
    width: 115.9px;
    height: 45px;
  }
}

@media (min-width: 1200px) {
}
