a {
  color: #14d9c4;
}
.aboutus {
  text-align: center;
  padding-top: 30px;
  scroll-margin-top: 105px;
}

.title {
  font-family: $font-t;
  color: $color-bg;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}

.name {
  font-family: $font-p;
  font-size: 20px;
  line-height: 2.25;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .aboutus {
    scroll-margin-top: 90px;
  }
  .name {
    text-align: left;
    margin-left: 31px;
  }
}

.icons {
  padding-top: 20px;
  width: 127px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .icons {
    text-align: left;
    margin: 0 31px;
  }
  .profile2 {
    text-align: right;
    margin-left: 0 31px;
  }
}

.bio {
  padding: 30px, 15px, 45px;
  font-family: $font-p;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  margin: 5px;
  margin-left: 31px;
}

@media (min-width: 768px) {
  .profile1 .bio {
    text-align: left;
  }
  .profile2 .bio {
    text-align: right;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-family: $font-p;
  padding: 5%;
  position: relative;
  align-items: center;
}

@media (min-width: 768px) {
  .profile1 {
    display: flex;
    flex-direction: row;
  }

  .profile2 {
    display: flex;
    flex-direction: row-reverse;
    margin-right: auto;
  }

  .profile-info1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 31px;
  }
}

.icons :link:after {
  content: ".";
  position: absolute;
  margin-left: 5px;
  margin-top: -5px;
}
.icons :link:last-child:after {
  content: "";
}
