.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0271bc;
  height: 44px;
  width: 44px;
  z-index: 1;
  transition: transform;
  &:hover {
    background-color: #f26202;
    cursor: pointer;
  }
  &.menu-burger__link {
    padding: 12px 12px;
  }
}
