#adalabers {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 105px;
  margin-top: 100px;
}
.team {
  &__title {
    box-sizing: border-box;
    font-family: $font-t;
    text-transform: uppercase;
    color: $color-ag;
    text-align: center;
    font-size: 1.5rem;

    @media all and (min-width: 768px) {
      color: $color-bg;
    }
  }

  &__text {
    box-sizing: border-box;
    background-color: $color-w;
    text-align: center;
    font-family: $font-p;
    margin: 15px;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 1.4rem;
    color: $color-dg;

    @media all and (min-width: 768px) {
      width: 678px;
      scroll-margin-top: 90px;
    }

    @media all and (min-width: 1000px) {
      width: 678px;
      height: 200px;
    }
  }
}
