<section class="purchase" id="reasons">
  
      <h3 class="purchase__title item1 main-titles">3 reasons to purchase</h2>
      
        <article class="purchase__article item2">
        <h4 class="article__title">ut sed metus</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </article>
      
      <article class="purchase__article item3">
        <h4 class="article__title">repellat doloremque</h3>
        <p>iure eos repellendus ad natus placeat deleniti.</p>
      </article>
      
      <article class="purchase__article item4">
        <h4 class="article__title">enim magniexer</h3>
        <p>Expedita corporis mollitia perferendis nesciunt tempore.</p>
      </article>
   
    

    <!-- botón more reasons -->
    

    <button class="more-reasons-button item5 ">More reasons</button>


      <!-- botón flecha-->

    <a class="arrow-line__link" href="#start">  
      <img class="purchase-arrow-img" src="./assets/images/ico-arrow.svg">
    </a>
  </section>
