<section>
    <div class="aboutus" id="woareus">
      <div class="title">QUIÉNES SOMOS</div>
      
      <article class="profile profile1">
      <img src="assets/images/lucy.jpg" alt="foto lucia enriquez">
      <div class="profile-info">
        <h3 class="name">Lucía Enríquez</h3>
      <p class="bio">Dentro del equipo de las Vengalabers, Lucía se identifica con Ironman. Su capacidad de organización, su pasión por el diseño y las tecnologías hacen que proponga ideas nuevas y creativas para el desarrollo de nuestros proyectos. </p>
       <div class="icons">
          <a href="https://twitter.com/Lucyebos" title="link twiter" target="_blank">
          <i class="fab fa-twitter" ></i></a>
          <a href="https://www.instagram.com/luchy_lyu/"><i class="fab fa-linkedin-in" tilte="link"></i></a>
          <a href="https://github.com/luciaenriquezbos"><i class="fab fa-github" tilte="link"></i></a>
          <a href="mailto:eboscreative@gmail.com" tilte="link"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      </article>
      
      <article class="profile profile2">
        <img src="assets/images/maria.jpg" alt="foto Maria Zubeldia">
        <div class="profile-info1">
        <h3 class="name">María Zubeldia</h3>
        <p class="bio">María, hija de dioses y hermana de Thor, comparte su capacidad sobrehumana para afrontar nuevos retos. Es inmune a la mayoría de los conflictos que afectan al equipo y es capaz de solucionarlos con un golpe de teclado. </p>
          <div class="icons">
            <a href=" https://twitter.com/mzubeldia_" tilte="link"><i class="fab fa-twitter"></i></a>
            <a href=" https://www.linkedin.com/in/maría-zubeldia-b872066a" tilte="link"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/mZubeldia" tilte="link"><i class="fab fa-github"></i></a>
            <a href="mailto:mzubeldia09@gmail.com" tilte="link"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        </article>
      
      <article class="profile profile1">
        <img src="assets/images/lucia.jpg" alt="foto Lucía Cano">
        <div class="profile-info">
        <h3 class="name">Lucía Cano</h3>
        <p class="bio">Nuestra agente especial que ha sido entrenada con la mismísima Viuda Negra, posee las mejores técnicas para desarrollar el código infalible. Equipada con un arsenal de armas de alta tecnología, incluida una silla gamer y un patito de goma para luchar contra el mal. </p>
        <div class="icons">
          <a href="URL DESTINO" tilte="link"><i class="fab fa-twitter" -color: #14d9c4;></i></a>
          <a href="URL DESTINO" tilte="link"><i class="fab fa-linkedin-in"></i></a>
          <a href="URL DESTINO" tilte="link"><i class="fab fa-github"></i></a>
          <a href="URL DESTINO" tilte="link"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
      </article>
                  
        <article class=" profile profile2">
          <img src="assets/images/Miriam.jpg" alt="foto Miriam Villalta">
          <div class="profile-info1">
          <h3 class="name">Miriam Villalta</h3>
          <p class="bio">Los poderes sobrenaturales de nuestra Vengalaber, solo igualados por la Bruja Escarlata, le dan control absoluto sobre todas las realidades del código, haciéndola imparable a la hora de luchar contra las ramas y sus merge y fusiones. </p>
          <div class="icons">
            <a href="URL DESTINO" tilte="link"><i class="fab fa-twitter link"></i></a>
            <a href="URL DESTINO" tilte="link"><i class="fab fa-linkedin-in link"></i></a>
            <a href="URL DESTINO" tilte="link"><i class="fab fa-github link"></i></a>
            <a href="URL DESTINO" tilte="link"><i class="fas fa-envelope link"></i></a>
          </div>
        </div>
        </article>
        </div>
      </article>

  </section>