<section class="strenghts-container">
    <div class="triangle"></div>
    <div class="strenghts-wrapper">
        <h3 class="strenghts-font-style">Fortalezas</h3>
          <p class="strenghts-wrapper--item">La buena comunicación y el trabajo en equipo, junto con su gran sentido del humor, hacen de este equipo la mezcla perfecta. Cada miembro tiene habilidades distintas en amplios campos, que las llevan a tener una visión holística y multidisciplinar.</p>
          <p class="strenghts-wrapper--item" >Todo ello, sumado a la buena aceptación de críticas y su gran aporte creativo, hace de ellas que el trabajo en equipo sea ameno y tremendamente efectivo.</p>
    </div>

    <div class="weaknesses-wrapper">
        <h3 class="strenghts-font-style">Debilidades</h3>
        <p class="strenghts-wrapper--item">El secuaz de Thanos llamado Git les propone retos y obstáculos difíciles de superar pero lucharán hasta el final para vencerlo.
        <p class="strenghts-wrapper--item">Por otra parte, ese gran sentido del humor se puede convertir en inconveniente (nah, muy pocas veces).</p>
        <p class="strenghts-wrapper--item">Se encuentran en proceso de desarrollo pero seguirán aprendiendo hasta poder explorar el último rincón del universo.</p>
    </div>
  </section>