<section id="adalabers">
  <div class="team__title">
    <h2>Equipo</h2>
  </div>

  <div class="team__text">
    <p>
      En el principio de los tiempos, nadie quería enfrentarse a Thanos, ser
      supremo del código y sus malignas prácticas. Sus secuaces, entre los que
      se encuentra GIT, hacían muy difícil la vida en el universo Programmer.
    </p>
    Por suerte, el destino quiso unir a un grupo de superheroínas para luchar
    contra las malas praxis: Las Vengalabers.
    <p>
      Unieron sus fuerzas para así desarrollar un código estelar invencible y
      acabar con el mal de forma conjunta e implacable. Son incansables y
      capaces de todo.
    </p>
    <p>¡El universo al fin está a salvo!</p>
  </div>
</section>
